@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import "tailwindcss";

:root {
  --primary-color: #010066;
  --secondary-color: #8be872;
  --colorAccent: #e89b72;
  --text-color: #333;
  --navbar: rgba(3, 8, 134, 0.98);
  --light-primary-color: #cecefd;
  --light-gray: #f2f2f5;
}

body {
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617 70%);
  color: white;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glow {
  box-shadow: 0 0 40px rgba(59, 130, 246, 0.3);
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}